:root {
    --text1-color: #626262;
    --link-color: #7D7D7D;
    --text2-color: #B4AD9E;
}
body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
}
.header-link {
    text-decoration: none;
    color: var(--link-color);
}
.photoblog-text1 {
    font-weight: 100;
    font-family: 'Ubuntu', serif;
    color: var(--text2-color);
    margin-bottom: 30px;
}
.photoblog-title {
    font-size: 30px;
    color: var(--text1-color);
    margin-bottom: 50px;
    font-weight: 200;
}
.photoblog-text2 {
    color: var(--text1-color);
}
.photoblog-img {
    width: 420px;
    height: 280px;
    margin-bottom: 60px;
}
.photoblog-button {
    color: var(--text1-color);
    width: 165px;
    height: 60px;
    background-color: white;
}
.container-header {
    width: 555px;
    margin: 0 auto;
}
.container-photoblog {
    width: 906px;
    margin: 0 auto;
    padding: 0 15px;
}
.photoblog-card {
    width: 420px;
}
.header-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50vw;
}
.header-menu {
    display: flex;
    justify-content: center ;
}
.photoblog {
    width: 906px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 130px;
    column-gap: 65px;
    margin-bottom: 95px;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header {
    height: 50px;
    font-family: Pla;
    margin-bottom: 95px;
}