@import "../untils/variables";

.header {
    height: 50px;
    /* font-family: Pla; */
    margin-bottom: 95px;

    &-link {
        text-decoration: none;
        color: $link-color;
    }
    &-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 50vw;
    }
    &-menu {
        display: flex;
        justify-content: center ;
        height: 120px;
        align-items: center;
    }
}